 @import 'stories.scss';
 
 .navbar-link{
   .user-avatar{
     border-radius: 50%;
     margin-right: 15px;
   }
   i{
     margin-right: 1em;
   }
 }

 .profile{
   .user-avatar{
     border-radius: 50%;
   }
 }

 